name: CI Pipeline to build Selenium runner custom image
on: 
  push:
    branches:
      - "**"
    paths: #trigger on push and any changes to these paths
      - selenium-runner/**
      - .github/workflows/build-selenium-runner.yml
permissions:
  contents: read
  packages: write
jobs:
  build-and-push:
    name: Build & Push Selenium Runner Image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5
      - name: Docker Metadata
        uses: docker/metadata-action@v5
        id: meta
        with:
          images: ghcr.io/${{ github.repository }}/selenium-runner
          tags: |
            type=raw,value=latest
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push image
        uses: docker/build-push-action@v6
        with:
          context: selenium-runner #what folder/path?
          file: selenium-runner/Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
        
        
